{% extends 'aplicacion/base.html' %}
{% load static %}
{% block title %}Whisky{% endblock title %}
{% block header %}Whisky{% endblock header %}
{% block content %}
<table>
    <tr>
        <td width="200"><h2>Whisky</h2></td>
        <td>
            <a 
            href="{% url 'create_whisky' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="New Record"> </i>
            </a>
        </td>
    </tr>
</table>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Categoria</th>
            <th>Marca</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for p in whisky_list %}
        <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.categoria }}</td>
            <td>{{ p.marca }}</td>

            <td>
                <a 
                href="{% url 'detail_whisky' p.id %}"
                class="btn btn-info"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                ><i class="fa fa-search fa-sm" title="View Record"></i>
                </a>
                <a 
                href="{% url 'update_whisky' p.id %}"
                class="btn btn-primary"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                </a>
                <a 
                href="{% url 'delete_whisky' p.id %}"
                class="btn btn-danger"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}