{% extends 'aplicacion/base.html' %}
{% load static %}

{% block title %}
    Wines
{% endblock title %}

{% block header %}
    Wine List
{% endblock header %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Categoria</th>
            <th>Uva</th>
        </tr>
    </thead>
    <tbody>
    {% for wine in wines %}
    <tr>
        <td>{{ wine.id }}</td>
        <td>{{ wine.categoria }}</td>
        <td>{{ wine.uva }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}

